{#
/**
 * @file
 * Default reveal implementation to display a paragraph.
 */
#}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

{% if content.field_slides is not empty %}
  {% set is_parent = true %}
{% else %}
  {% set is_parent = false %}
{% endif %}
<section {{ attributes.addClass(classes) }}>
    {% if is_parent %}<section>{% endif %}
    {% if content.field_slide_title is not empty %}
    <h1>
      {{ content.field_slide_title }}
    </h1>
    {% endif %}
    {{ content|without('field_slide_title', 'field_slides') }}
    {% if is_parent %}</section>{% endif %}
  {{ content.field_slides }}
</section>
