
<!DOCTYPE html>
<html{{ html_attributes }}>
  {% block html_head %}
    <head>
      <head-placeholder token="{{ placeholder_token|raw }}">
      {% block html_title %}
        <title>{{ head_title|safe_join(' | ') }}</title>
      {% endblock html_title %}
      {% block html_styles %}
        <css-placeholder token="{{ placeholder_token|raw }}">
      {% endblock html_styles %}
      {% block html_js %}
        <js-placeholder token="{{ placeholder_token|raw }}">
      {% endblock html_js %}
    </head>
  {% endblock html_head %}
  {% block html_body %}
    <body{{ attributes }}>
      {% block html_skip_content %}
        <a href="#main-content" class="visually-hidden focusable">
          {{ 'Skip to main content'|t }}
        </a>
      {% endblock html_skip_content %}
      {% block html_page_top %}
        {{ page_top }}
      {% endblock html_page_top %}
      {% block html_page %}
        {{ page }}
      {% endblock html_page %}
      {% block html_page_bottom %}
        {{ page_bottom }}
      {% endblock html_page_bottom %}
      {% block html_js_bottom %}
        <js-bottom-placeholder token="{{ placeholder_token|raw }}">
      {% endblock html_js_bottom %}
      <script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		  </script>
    </body>
  {% endblock html_body %}
</html>
